
{% load static %}
{% load bootstrap3 %}
{% load password_filters %}
{% csrf_token %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<scipt src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></scipt>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/
mdb.min.css"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js'></script>
<script>
$(function(){
	var my_passwords = [];
	var showQRCode = function()
	{
		$.ajax(
		{
			method: 'POST',
			url: 'add_device_request',
			beforeSend: function(xhr,settings)
			{
				var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}

		}).success(function(response,status,xhr)
		{
			var dialog = bootbox.dialog({
				title: 'Add a new device',
				message: '<p> Open your password app and scan the following QR code with it</p>'
				.concat('<div id="qr-code"></div>')
			});

			$('#qr-code').qrcode(response['code']);			
		});

	}
	var filterPassword = function()
	{
		if(my_passwords.length == 0) return; // none of this function's business
		$('#pw-list').html(''); // empty the search result
		var query = $('#search-field').val();
		var has_result = false;
		for(var i in my_passwords)
		{
			if(my_passwords[i].name.indexOf(query) !== -1 || query.length == 0)
			{
				has_result = true;
				add_password_entry(my_passwords[i]);
			}
		}
		$('#no-result-alert').css('display',has_result?"none":"block");
		$('a.list-group-item').mouseenter(function(){
			$(this).find('.option-btn').css('display','block');
		});
		$('a.list-group-item').mouseleave(function()
		{
			$(this).find('.option-btn').css('display','none');
		});

		// clipboard stuff 
		new Clipboard('a.list-group-item',{
			text: function(trigger)
			{
				return trigger.previousElementSibling.getAttribute('value');
			}
		});
	};
	// document.ready = function(){

	// };
	var add_password_entry = function(pw)
	{
		var name = pw['name'];
		var hash = md5(name);
		var password_description = pw['description'];
		var date_created = pw['date_created'];
		var ele = ''
			.concat('<p style="display: none" class="' + hash + '"></p>')
			.concat('<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" id="' + hash + '">')
			.concat('<button class="btn btn-danger pull-right option-btn btn-sm" style="display:none" id=' + hash +'-delete-btn>delete</button>')
			.concat('<button class="btn btn-default pull-right option-btn btn-sm" style="display:none" id=' + hash +'-modify-btn>modify</button>')
			
			.concat('<div class="d-flex w-100 justify-content-between">')
			.concat('<h5 class="mb-1">'+ name + '</h5>')
			.concat('<small>'+ date_created + '</small>')
		    .concat('</div>')
		    .concat('<small>'+password_description + '</small>')
		    .concat('</a>');

	    $('#pw-list').append(ele);
	    $('p.' + hash).attr('value',pw['password']);

		$('#' + hash).click(function()
		{
			toastr.success('Password copied to clipboard');
		});

		$('#' + hash + '-modify-btn').click(function(event)
		{
			event.stopPropagation(); // do not trigger the copy event underneath
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			showPasswordForm(pw);
		});
		
		$('#' + hash + '-delete-btn').click(function(event)
		{
			event.stopPropagation(); // do not trigger the copy event underneath
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			$.ajaxSetup({
				type: 'POST',
				url: 'remove',
				beforeSend: function(xhr,settings)
				{
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			});
			$.ajax({
				data: JSON.stringify({name: name})
			}).success(function(response,status,xhr)
			{
				if (response['status'] == 'ok')
				{
					toastr.success('Password deleted');
				}else
				{
					toastr.error('Unable to remove password');
				}
			});
		});
	};
	var generate_passwords = function(spinner)
	{
		// retrieve constraints
		var availChars = '';
		var letters = 'qwertyuiopasdfghjklzxcvbnm';
		var numbers = '1234567890';
		var puns = '!@#$%^&*(){}\\;\'\"[],./<>?';
		if (document.getElementById('lowercase-con').checked)
		{
			availChars += (letters);
		}
		if (document.getElementById('uppercase-con').checked)
		{
			availChars += (letters.toUpperCase());
		}
		if (document.getElementById('number-con').checked)
		{
			availChars += (numbers);
		}
		if (document.getElementById('punctuation-con').checked)
		{
			availChars += (puns);
		}
		var pwLength = spinner.spinner('value');
		var pw = '';
		for( var i=0; i < pwLength; i++ )
        	pw += availChars.charAt(Math.floor(Math.random() * availChars.length));
        document.getElementById('pw-proposed').value = pw;
	};
	var validateConstraints = function()
	{
		var checkbox_ids = ['lowercase-con','uppercase-con','number-con','punctuation-con'];
		var chekcedboxes = [];
		for(var i in checkbox_ids)
		{
			var box = null;
			if((box = document.getElementById(checkbox_ids[i])).checked)
			{
				chekcedboxes.push(box);
			}
		}
		if(chekcedboxes.length == 1)
		{
			chekcedboxes[0].disabled = true;
		}
		// check all boxes if none of them is checked (which should be impossible...)
		else if (chekcedboxes.length == 0)
		{	for(var i in checkbox_ids)
			{
				document.getElementById(checkbox_ids[i]).checked = true;
			}
		}
		else // enable all disabled boxes
		{
			for(var i in checkbox_ids)
			{
				var box = null;
				if((box = document.getElementById(checkbox_ids[i])).disabled)
				{
					box.disabled = false;
				}
			}
		}
	};
	var showPasswordForm = function(pw)
	{
		var dialogTitle = (pw == null)?'Create a password':'Modify '.concat(pw['name']);
		var dialog = bootbox.dialog({
		    title: dialogTitle,
		    message: "<form id='pw-form' method='post' action='create'>\
			    	<div class='form-group'>\
			    		<label for='pw-name'>Name: (required)</label>\
			    		<input type='text' class='form-control' id='pw-name' name='pw-name' required>\
				    </div>\
				    <div class='form-group'>\
				    	<label for='pw-proposed'>Proposed Password:</label>\
				    	<input type='text' class='form-control' id='pw-proposed' name='pw-proposed' readonly required>\
				    </div>\
					<div class='form-group'>\
				    	<label for='pw-length'>Password Length:</label>\
				    	<input id='pw-length' name='pw-length' value='10' class='con'>\
				    </div>\
				    <div class='form-group'>\
				    	<label>Password should consist of: </label>\
				    	<div class='form-horizontal'>\
					    	<div class='checkbox'>\
							  <label><input class='con' id='lowercase-con' type='checkbox' value='' checked>Lowercase letters</label>\
							</div>\
							<div class='checkbox'>\
							  <label><input class='con' id='uppercase-con' type='checkbox' value='' checked>Uppercase letters</label>\
							</div>\
							<div class='checkbox'>\
							  <label><input class='con' id='number-con' type='checkbox' value='' checked>Numbers</label>\
							</div>\
							<div class='checkbox'>\
							  <label><input class='con' id='punctuation-con' type='checkbox' value='' checked '>Punctuations</label>\
							</div>\
						</div>\
					</div>\
			    </form>",

		    buttons: {
		        cancel: {
		            label: 'Cancel',
		            className: "fa fa-times"
		        },
		        confirm: {
		            label: (pw == null)?'Create Password':'Update Password',
		            className:'btn-success',
		            callback: function()
		            {
		            	$('#pw-form').submit();
		            }
		        }
    		}
		});

		var spinner = $('#pw-length').spinner({
			min: 1,
			stop: function(event,spinner)
			{
				generate_passwords($(this));
			}
		});

		$('input.con').click(function()
		{
			validateConstraints();
			generate_passwords(spinner);
		});

		$('#pw-proposed').click(function()
		{
			generate_passwords(spinner);
		});

		// for first time pop-up,
		if($('#pw-proposed').val().length == 0)
		{
			generate_passwords(spinner);
		}
        
        $('#pw-form').submit(function(event)
		{
			event.preventDefault();
			if(!$('#pw-form').valid()) return;
			var formData = $(this).serialize();
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			$.ajaxSetup({
				type: 'POST',
				url: 'create',
				beforeSend: function(xhr,settings)
				{
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			});

			$.ajax({
				data: formData
			}).success(function(response,status,xhr)
			{
				add_password_entry(response['text']);
				toastr.info((pw == null)?'Password added':'Password updated');
				bootbox.hideAll();
			});
			// return false;
		});

        if (pw != null)
        {
        	/* TODO:
        		1. set current password as field
        		2. change toaster msg
        		3. set name "readonly"
        		4. set spinner value as the length of the value
        		5. set checkbox according to the current password
        	*/
        	$('#pw-proposed').val(pw['password']);
        	$('#pw-name').attr('readonly',true).val(pw['name']);
        	spinner.spinner('value',pw['password'].length);

        }
		$('#pw-form').validate();

	}; // showPasswordForm
	// real work here
	$('#create-pw-btn').click(function()
	{
		showPasswordForm(null);
	});

	$('#add-device-btn').click(function()
	{
		showQRCode();
	})
	$('#search-field').on('input',function()
	{
		filterPassword();
	});

	var socket = new WebSocket('ws://' + window.location.host + '/pwmanager/socket?session_key={{request.session.session_key}}');
    socket.onopen = function open() {
      console.log('WebSockets connection created.');
      socket.send(JSON.stringify('pw_list'));
    };

    socket.onmessage = function message(event)
    {
    	var pw = JSON.parse(event.data);
    	console.log(pw);
    	if('action' in pw) // either delete or modify
    	{
    		// both modification and deletion of passwords require the corresponding table entry to be removed
    		var pw_name = null;
    		if(pw['action'] == 'deleted')
    		{
    			pw_name = pw['name'];
    			$('#' + md5(pw['name'])).remove();

    		}else
    		{
    			pw_name = pw['updated_pw']['name'];
    			$('#' + md5(pw['updated_pw']['name'])).remove();
    		}
    		// $('#' + pw['name']).remove();
    		for(var i in my_passwords)
    		{
    			var cur_pw = my_passwords[i];
    			if(cur_pw.name == pw_name)
    			{
    				if (i == 0)
    				{
    					my_passwords = my_passwords.slice(1);
    				}else
    				{
    					my_passwords = my_passwords.slice(0,i).concat(my_passwords.slice(i + 1));
    				}
    				break;
    			}
    		}    
    		// the following code is for modification task			
			if(pw['action'] == 'modified')
    		{
    			//TDOO: modification task
    			//TODO: find and locate corresponding entry in javascript, update the new password
    			//TODO: update the value of the corresponding element
    			$('#' + md5(pw['updated_pw']['name'])).unbind().remove();
    			pw = pw['updated_pw'];
    			my_passwords.push(pw);
    			add_password_entry(pw);
    			toastr.success('Password ' + pw_name + ' is updated');
    		}else
    		{
    			toastr.success('Password ' + pw_name + ' is deleted');
    		}
    	}else
    	{
    		// create password action
	    	my_passwords.push(pw);
	    	add_password_entry(pw);
    	}
    	// refresh the password list
    	filterPassword();
    };
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

});
</script>
<title> Password Manager</title>
<div class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
	    <a href="#" class="navbar-brand">Password Manager</a>
	</div>

    <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	        <li><a id='create-pw-btn'>Create Password</a></li>
	        <li><a id='add-device-btn'>Add Mobile Device</a></li>
	        
	    </ul>
	    <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input  type="text" class="form-control" placeholder="Search Password" id="search-field">
	        </div>
      	</form>
      	<ul class="nav navbar-nav pull-right">
      		<li><a>Welcome, {{request.user.username}}</a></li>
      		<li><a id='logout-btn' href='logout/'>Logout</a></li>
      	</ul>
    </div>
</div>
{% if passwords %}
<div class="alert alert-info" role="alert" id="no-result-alert" style="display: none">
  <strong>No results found</strong>
</div>
<div class="list-group" id='pw-list'>

</div>
{% else %}
	<div class="alert alert-info" role="alert" id="no-password">
  		<strong>No passwords found!</strong> Press "Create Password" above to create your first password!
	</div>
{% endif %}
